@media screen and (min-width: 768px) {

*{
    margin:0;
    padding:0;
    letter-spacing: 2px;
}

a {
  text-decoration:none;
}

.header{
    height:7vh;
    width:100%;
    position:fixed;
    background-color:#061b44;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;

}
.social{
    width: 10%;
    margin:0 ;
    display:flex;
    font-size: 30px;
}

.social a:hover
{
opacity: 80%;
}

.slick-slide{
  height:auto!important;
}

.chenar{
  margin:100px auto;
  max-width: 1250px;
}

.chenar h1{
  text-align: center;
  font-size: 40px;
}
.chenar p{
  text-align: center;
  padding: 10px 30px;
  font-size: 25px;
}

.chenar h1,p{
  font-family: 'Cairo', sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}


.header .social img{
    width: 70%;
   margin-right: 30px;

}

.show{
    background-color: white;
}


body{
    
    background-color:#061b44;
    width: 100%;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    color:white;
}

.contact form p{
    display: inline;
    color:white;
}

.contact h2, p{
  color:rgb(173, 196, 230);
}

.foot{
    text-align: center;
    color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer .contact {
    text-align:center;
}

.footer{
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 20px;
    height:350px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    background-color: #1c2a5c;
}

.footer .uni, .best {
    display:inline;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img{
    padding: 0px;
    width:60%;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
    image-rendering: crisp-edges;
}
.footer .best{
  width:20vw;
}

.contact h1,p{
  font-family: 'Cairo',sans-serif;
}

.contact button{
  padding:5px;
  font-family: 'Orbitron';
}

.contact input[type=email]{
  font-family: 'Orbitron';
  outline:none;
}

.show{
    height:1200px;
    background-image: url('poze/Remake.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.gdpr-text{
  padding-left: 5px;
}


/*Countdown*/
.container{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    margin-top: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#countdown li{
    display: inline-block;
  font-size: 1.3em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  font-size: 4rem;
}

/*End of countdown*/

}





/*Varianta de mobil*/

@media screen and (max-width: 767px) {
  

}