@media screen and (min-width: 768px) {

    *{
      margin:0;
      padding:0;
      letter-spacing: 2px;
    }
  
    html{
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  
    a {
      text-decoration:none;
    }
    
    body{
      background-color:#030e3b;
      width: 100%;
      height: 100%;
      font-family: 'Arial Black', sans-serif;
      color:white;
    }
  
      
  
    /*-------------------------------------------MENIU--------------------------------------------*/  
    .header{
      height:7vh;
      width:100%;
      position:fixed;
      z-index: 100;
      background-color:#061b44;
      
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      align-items:center;
    }
    
    .meniu{
      margin:0;
      display:flex;
      font-size: 20px;
      margin-right: 30px;
      letter-spacing: 2px;
    }
  
    .meniu a{
      color: white;
      padding: 10px;
      margin-right: 30px;
    }
  
    .meniu a:hover{
      opacity: 80%;
    }
  
    .meniu img{
      width: 140px;
      height: 30px;
    }

    .hashtag a{
      font-family:'Orbitron', sans-serif;
      font-size: 25px;
      margin-left: 20px;
    }
    
    .hashtag:hover{
      opacity: 80%;
    }

    /*-------------------------------------------INFO--------------------------------------------*/
   .container1 {
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    .cards1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin: 2rem;
      width: 100%;
      padding-top: 150px;
    }
    
    .cards1 .card-item1 {
      display: flex;
      flex-direction: column;
      background-color: #005ea8;
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 20px 40px -14px rgb(94, 197, 237);
      overflow: hidden;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
    }
    
    .cards1 .card-info1 p {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
      line-height: 1.5em;
      justify-content: center;
    }

    .cards1 .card-info1 h2 {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
      line-height: 1.5em;
      justify-content: center;
    }

    .cards1 .card-intro1 h {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
      line-height: 1.5em;
      justify-content: center;
    }

    .cards1 .card-title1 {
      font-size: 25px;
      line-height: 1.1em;
      color: #fff;
      margin-bottom: 0.2em;
      align-items: center;
    }
    @media (min-width: 40rem) {
      .cards1 {
        width: 50%;
      }
    }
    @media (min-width: 56rem) {
      .cards1 {
        width: 75%;
      }
    } 

    /*-----------------------------------------------ANIMATIE-------------------------------------------------*/

    .foot{
      text-align: center;
      color: #4579e2;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Cairo',sans-serif;
    }

    .animatie{
      position: fixed;
      width:100%;
    }

    .editorial {
      display: block;
      width: 100%;
      height: 60px;
      max-height: 60px;
      margin: 0;
      z-index:5;
      bottom:0;
      left:0px;
    }
    
    .parallax1 > use {
      animation: move-forever1 10s linear infinite;
        &:nth-child(1) {
        animation-delay: -2s;
      }
    }
  
    .parallax2 > use {
      animation: move-forever2 8s linear infinite;
        &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    .parallax3 > use {
      animation: move-forever3 6s linear infinite;
        &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    .parallax4 > use {
      animation: move-forever4 4s linear infinite;
        &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    
    @keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    @keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever3 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    @keyframes move-forever4 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
}

    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------------------------VARIANTA DE MOBILE-----------------------------------------------------------------------*/
     /*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    @media screen and (max-width: 767px) {
      .hide-on-mobile{
        display: none!important;
      }
  
      *{
        margin:0;
        padding:0;
        letter-spacing: 2px;
      }
    
      html{
        overflow-x: hidden;
        scroll-behavior: smooth;
        letter-spacing: 2px;
        -webkit-tap-highlight-color: transparent;
      }
    
      a {
        text-decoration:none;
      }
      
      body{
        background-color:#030e3b;
        width: 100%;
        height: 100%;
        font-family: 'Orbitron', sans-serif;
        color:white;
      }
  
  
      
  
     
      /*-------------------------------------------MENIU--------------------------------------------*/  
      .header{
        height:6vh;
        width:100%;
        position:fixed;
        z-index: 100;
        background-color:#061b44;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        align-items:center;
      }
  
      .linii  #meniu2{
        display:none;
      }
  
      #meniu2{
        display: block;
        position: absolute;
        top:6vh;
        right: 0px;
      }
  
      .linii{
        flex-direction: column;
        align-items: flex-start;
      }
  
      .linii a{
        color: white;
        display: flex;
        flex-direction:column;
        padding: 14px 16px;
        background:#061b44;
      }
  
  
      .hamburger .fa {
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        color:white;
        position:absolute;
        right:1vh;
        top:1vh;
      }
  
      .hamburger{
        background: transparent;
        border: 0;
        display:flex;
      }
      
      .hashtag a{
        font-family:'Orbitron', sans-serif;
        font-size: 15px;
        margin-left: 10px;
      }
     
      
      
    }